<td style="<%= css_for_mailer_content %>">

  <h1 style="<%= css_for_mailer_heading %>">
    <%= t("mailers.verified_account.subject") %>
  </h1>

  <p style="<%= css_for_mailer_text %>">
    <%= t("mailers.verified_account.info") %>
  </p>

  <p style="<%= css_for_mailer_text %>">
    <%= t("mailers.verified_account.participate") %>
  </p>
  
  
</td>
