<%= render Pages::Help::SectionComponent.new("sectors") do %>
    <p>
        <%= sanitize(t("pages.help.sectors.sector1")) %>
        <ul class="features">
            <li>
             <%= sanitize(t("pages.help.sectors.dep1")) %>
            </li>
            <li>
             <%= sanitize(t("pages.help.sectors.dep2")) %>
            </li>
            <li>
             <%= sanitize(t("pages.help.sectors.dep3")) %>
            </li>
        </ul>
        <%= sanitize(t("pages.help.sectors.sector2")) %>
        <ul class= "features">
            <li>
             <%= sanitize(t("pages.help.sectors.dep4")) %>
            </li>
            <li>
             <%= sanitize(t("pages.help.sectors.dep5")) %>
            </li>
            <li>
             <%= sanitize(t("pages.help.sectors.dep6")) %>
            </li>
            <li>
             <%= sanitize(t("pages.help.sectors.dep7")) %>
            </li>
            <li>
             <%= sanitize(t("pages.help.sectors.dep8")) %>
            </li>
        </ul>
        <%= sanitize(t("pages.help.sectors.sector3")) %>
        <ul class= "features">
            <li>
             <%= sanitize(t("pages.help.sectors.dep9")) %>
            </li>
            <li>
             <%= sanitize(t("pages.help.sectors.dep10")) %>
            </li>
            <li>
             <%= sanitize(t("pages.help.sectors.dep11")) %>
            </li>
            <li>
             <%= sanitize(t("pages.help.sectors.dep12")) %>
            </li>
        </ul>
        <%= sanitize(t("pages.help.sectors.sector4")) %>
        <ul class= "features">
            <li>
             <%= sanitize(t("pages.help.sectors.dep13")) %>
            </li>
            <li>
             <%= sanitize(t("pages.help.sectors.dep14")) %>
            </li>
        </ul>
        <%= sanitize(t("pages.help.sectors.sector5")) %>
        <ul class= "features">
            <li>
             <%= sanitize(t("pages.help.sectors.dep15")) %>
            </li>
            <li>
             <%= sanitize(t("pages.help.sectors.dep16")) %>
            </li>
        </ul>

    </p>
<%end%>