
<%= back_link_to admin_users_path%>
<% if user.verified_at?%>
  <div data-alert class="callout alert-callout-border success">
    <%= t("management.document_verifications.already_verified") %>
  </div>
<% else %>
  <div data-alert class="callout alert-callout-border alert">
    <%= t("management.document_verifications.not_verified") %>
  </div>
<%end%>

<section class="account-info">
  <%if user.username?%><p><%= t("admin.users.columns.username") %>: <%end%><strong><%= user.username %></strong></p>
  <%if user.email?%><p><%= t("admin.users.columns.email") %>: <%end%> <strong><%= user.email %><strong></p>
  <%if user.document_number?%><p><%= t("admin.users.columns.document_number") %>: <%end%><strong><%= user.document_number %></strong></p>
  <%if user.document_type?%><p><%= t("admin.users.columns.document_type") %>: <%end%><strong> <%= user.document_type %></strong></p>
  <%if user.date_of_birth?%><p><%= t("admin.users.columns.date_of_birth") %>: <%end%><strong><%= user.date_of_birth %></strong></p>
  <p>
      <% if @user.image.present?%>
        <%= image_tag @user.image, width: "550px"%>
      <%end%>
    </p>
</section>
<%if user.document_number?%>
    <%if user.verified_at.nil?%>
      <div data-alert class="callout success">
        <%= t("management.document_verifications.please_check_account_data") %>
      </div>
      <% unless verified?(user) %>
        <p><%= button_to t("management.document_verifications.verify"), verify_admin_user_path(user), method: :patch, class: "button success" %></p>
      <% end %>
    <%end%>
<%end%>
